<div class='container-fluid rounded-container pull-left mt-0 mb-0 text-black bg-red' title='<%= @shop_order.part.description %>'>
  <div class='form-row'>
    <div class='col-auto'>
      <a data-process-code='<%= @shop_order.part.process_code %>' class='font-weight-bold' style='disabled: true;'>
        <span class='badge badge-warning badge-border btn-block' style='font-size: 35px; border: 5px solid #343a40;'>
          <%= @shop_order.part.process_code %>
        </span>
      </a>
    </div>
    <div class='col-auto'>
      <strong> [<%= @shop_order.customer.code %>] </strong> <%= @shop_order.customer.name %> 
      <br>
      <%= @shop_order.part.name %>
      <small class='text-muted d-inline text-gold'>
        <%= @shop_order.part.code %> 
        <%= @shop_order.part.code_sub unless @shop_order.part.code_sub.blank? %>
      </small>
    </div>
  </div>
</div>